body {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#errorPage {
	background: url(../images/Background_blue.png);
	background-size: cover;
	position: relative;
	min-height: 100%;
	padding: 4rem;
}

.errorContainer {
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 0.5rem 1.5rem 0rem #00000063;
	box-sizing: border-box;
	padding: 3rem;
}

.dapp-error-text p {
    margin: 0 0 0.2rem 0;
}

@media screen and (max-width: 600px) {
	#errorPage {
		padding: 1rem;
	}

	.errorContainer {
		padding: 2rem;
	}

	.description {
		margin-top: 2rem;
	}

	.wallet-icon {
		max-height: 60px;
		max-width: 60px;
	}
}

@media screen and (max-width: 1280px) {
	.description-2 {
		margin-top: 4rem;
	}

	.dapp-error-text {
		font-size: 20px;
		color: #909090;
	}
	.dapp-error-text p {
		margin: 0 0 1.2rem 0;
	}
}

.hiprLogo {
    margin: auto;
    height: 300px;
    margin-top: -50px;
}
.description {
    margin-bottom: 2rem;
    font-size: 20px;
    color: #909090;
}
.buttonsContainer {
	margin-bottom: 1rem;
}
.puzzleImage {
    /*width: 75%;*/
    margin: auto;
}
#web3Error {
	visibility: hidden;
	margin-bottom: 0;
	margin-top: 0;
}
.wallet-icon {
	margin: auto;
	max-height: 60px;
	max-width: 60px;
}
.small-description {
	font-size: 14px;
}
.dapp-error-text {
	font-size: 20px;
	color: #909090;
}
