body {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#errorPage {
	background: url(../images/Background_blue.png);
	background-size: cover;
	position: relative;
	min-height: 100%;
	padding: 4rem;
}

.errorContainer {
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 0.5rem 1.5rem 0rem #00000063;
	box-sizing: border-box;
	padding: 3rem;
}

.dapp-error-text p {
    margin: 0 0 0.2rem 0;
}

@media screen and (max-width: 600px) {
	#errorPage {
		padding: 1rem;
	}

	.errorContainer {
		padding: 2rem;
	}

	.description {
		margin-top: 2rem;
	}

	.wallet-icon {
		max-height: 60px;
		max-width: 60px;
	}
}

@media screen and (max-width: 1280px) {
	.description-2 {
		margin-top: 4rem;
	}

	.dapp-error-text {
		font-size: 20px;
		color: #909090;
	}
	.dapp-error-text p {
		margin: 0 0 1.2rem 0;
	}
}

.hiprLogo {
    margin: auto;
    height: 300px;
    margin-top: -50px;
}
.description {
    margin-bottom: 2rem;
    font-size: 20px;
    color: #909090;
}
.buttonsContainer {
	margin-bottom: 1rem;
}
.puzzleImage {
    /*width: 75%;*/
    margin: auto;
}
#web3Error {
	visibility: hidden;
	margin-bottom: 0;
	margin-top: 0;
}
.wallet-icon {
	margin: auto;
	max-height: 60px;
	max-width: 60px;
}
.small-description {
	font-size: 14px;
}
.dapp-error-text {
	font-size: 20px;
	color: #909090;
}

#menu_toggle {
    position: fixed;
	bottom: 0;    
	left: 50%;
	transform: translateX(-50%);
    margin-left: -30px;
    z-index: auto;
    color: #ecd23a;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    background-color: #08112b;
    border-left: 2px solid #ecd23a;
    border-right: 2px solid #ecd23a;
    border-top: 2px solid #ecd23a;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

#fullscreen_toggle {
    position: fixed;
	bottom: 0;    
	left: 50%;
	transform: translateX(-50%);
    margin-left: 30px;
    z-index: auto;
    color: #ecd23a;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    background-color: #08112b;
    border-left: 2px solid #ecd23a;
    border-right: 2px solid #ecd23a;
    border-top: 2px solid #ecd23a;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}
#fullscreen_toggle .fullscreen-content {
	background: url(../images/fullscreen.png) center center / cover no-repeat;
	height: 100%;
    width: 100%;
}

#menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

.hide {
	display: none;
}

.dialog {
	background-color: #08112b;
    border: 2px solid #ecd23a;
    border-radius: 15px;
    margin: auto;
    max-width: 600px;
    top: 0;
    bottom: 70px;
    left: 30px;
    right: 30px;
    color: #ecd23a;
    margin-top: 30px;
	position: absolute;
	display: flex;
    flex-direction: column;
}
.dialog .title {
	text-align: center;    
	padding: 10px;
}
.dialog .info-box {
	float: right;
}
.dialog .info-box .info-button {
    border: 2px solid;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
}
.dialog .info-box .info-dialog {
    border: 2px solid;
    border-radius: 5px;
    font-size: 11px;
    position: absolute;
    right: 45px;
    top: 18px;
    padding: 20px 14px;
	background-color: #08112b;
	width: 300px;
}
.dialog .info-box .info-dialog .formula {
    font-size: 14px;
}
.dialog .scores-list > ul {
	list-style: none;
}
.dialog .scores-list .position {
    margin-right: 10px;
}
.dialog .scores-list .entry {
    text-align: center;
    margin-top: -20px;
}
.dialog .scores-list .entry-container {
    margin-bottom: 10px;
}
.dialog .address {
    font-size: 9px;
    color: #9e903a;
}
.dialog .score {
	font-size: 23px;
}
.dialog .scores-list {
	overflow-y: auto;    
	margin: 10px;
}
.dialog .scores-list::-webkit-scrollbar {
    width: 12px;
}

.dialog .scores-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #9e903a;
	box-shadow: inset 0 0 6px #9e903a;
    border-radius: 10px;
}

.dialog .scores-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px 6px #ecd23a;
	box-shadow: inset 0 0 6px 6px #ecd23a;
}

.dialog .podium td {
	text-align: center;
	width: 16%;
}
.dialog .podium .podium-cell{
    background-color: #ecd23a;  
	height: 40px;
    color: #08112b;
}
.dialog .podium {
    width: 100%;
}
.dialog .podium table {
	border-spacing: 0;
    width: 100%;
    padding: 30px;
}

.startupLogo {
	background: url(../images/herc_logo.png) center center / cover no-repeat;
	width: 100px;
	height: 100px;
	position: absolute; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	width: 154px; 
	height: 154px;
}
.textUnderLogo {
	color: #ecd23a;
	font-size: 16px;
	position: absolute; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	height: 22px; width: auto; 
	margin-top: 125px;
}
.textUnderLogo:before {
    content: "Engaging Blockchain Web3";
}
.progress {
	position: absolute; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	height: 18px; width: 141px; 
	margin-top: 90px;
}
.empty {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAI0AAAASCAYAAABmbl0zAAAACXBIWXMAAAsSAAALEgHS3X78AAAATUlEQVRo3u3aIQ4AIAwEQUr4/5cPiyMVBDOj0M2mCKgkGdAwjYCudZzLOLiITYPrCdEgGkSDaEA0iAbRIBpEA6JBNHx1vnL7V4NNwxsbCNMGI3YImu0AAAAASUVORK5CYII=") right center / cover no-repeat; 
	float: right; 
	width: 0%; 
	height: 100%; 
	display: inline-block;
}
.full {
	/*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAI0AAAASCAYAAABmbl0zAAAACXBIWXMAAAsSAAALEgHS3X78AAAAO0lEQVRo3u3SQREAAAjDMMC/56EB3omEXjtJCg5GAkyDaTANpsE0YBpMg2kwDaYB02AaTINpMA2Yhr8FO18EIBpZMeQAAAAASUVORK5CYII=") left center / cover no-repeat; */
	background-color: #ecd23a;
	float: left; 
	width: 100%; 
	height: 100%; 
	display: inline-block;
}

.no-eth-checkbox-description {
    font-size: 12px;
    margin-left: 3px;
    color: #a2a2a2;
}