body {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#errorPage {
	background: url(../images/Background_blue.png);
	background-size: cover;
	position: relative;
	min-height: 100%;
	padding: 4rem;
}

.errorContainer {
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 0.5rem 1.5rem 0rem #00000063;
	box-sizing: border-box;
	padding: 3rem;
}
.hiprLogo {
    margin: auto;
    height: 300px;
    margin-top: -50px;
}
.description {
    margin-bottom: 2rem;
    font-size: 20px;
    color: #909090;
}
.buttonsContainer {
	margin-bottom: 2rem;
}
.puzzleImage {
    /*width: 75%;*/
    margin: auto;
}
#web3Error {
	visibility: hidden;
}